<!-- Modal Formation -->
<div class="modal fade" id="experience" tabindex="-1" role="dialog" aria-labelledby="experienceLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="experienceLabel">Expériences</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-4">
							<div class="list-group" id="list-tab" role="tablist">
								<a class="list-group-item list-group-item-action active bg-dark text-white border-light" id="list-forma1-list" data-toggle="list" href="#list-forma1" role="tab"
									aria-controls="forma1">Technicien installation</a>
								<a class="list-group-item list-group-item-action bg-dark text-white border-light" id="list-forma2-list" data-toggle="list" href="#list-forma2" role="tab"
									aria-controls="forma2">Automaticien</a>
								<a class="list-group-item list-group-item-action bg-dark text-white border-light" id="list-forma3-list" data-toggle="list" href="#list-forma3" role="tab"
									aria-controls="forma3">Technicien SAV</a>
									<a class="list-group-item list-group-item-action bg-dark text-white border-light" id="list-forma2-list" data-toggle="list" href="#list-forma2" role="tab"
									aria-controls="forma2">Technicien bruleur</a>
								<a class="list-group-item list-group-item-action bg-dark text-white border-light" id="list-forma3-list" data-toggle="list" href="#list-forma3" role="tab"
									aria-controls="forma3">Technicien Maintenance</a>
							</div>
						</div>
						<div class="col-8">
							<div class="tab-content" id="nav-tabContent">
								<div class="tab-pane fade show active" id="list-forma1" role="tabpanel" aria-labelledby="list-forma1-list">
									<time class="date" date="2013-04-10">
								<span>Octobre 2017</span>
								<span>Mars 2018</span>
							</time>
							<div class="label">
								<h1>Cnam - Lille</h1>
								<p>Apprentissage langage, Algorithme, Methodologie, Graphisme et réseaux</p>
							</div></div>
								<div class="tab-pane fade" id="list-forma2" role="tabpanel" aria-labelledby="list-forma2-list"><time class="date" date="2013-04-11">
								<span>Septembre 2009</span>
								<span>Septembre 2010</span>
							</time>
							<div class="label">
								<h2>AFPA - Grenoble</h2>
								<i>Automatisme Informatique Industrielle</i>
								<p>Apprentissage langage automatisme (LD,List,FBD,ST),réseaux, algorithme, supervision (intouch)</p>
							</div></div>
								<div class="tab-pane fade" id="list-forma3" role="tabpanel" aria-labelledby="list-forma3-list"><time class="date" date="2013-04-13">
								<span>2003</span>
								<span>2005</span>
							</time>
							<div class="label">
								<h2>Lycée Germain Sommeiller - Annecy</h2>
								<i>Maintenance des Systèmes Mécaniques Automatisés</i>
								<p></p>
							</div></div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary bg-dark text-white border-dark" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>